@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --background: 24 65% 95%; /* Светло-персиковый */
    --foreground: 24 30% 20%; /* Тёмный текст */
    --card: 24 70% 97%; /* Очень светлый персиковый */
    --card-foreground: 24 30% 20%; /* Тёмный текст карточек */
    --popover: 24 65% 95%; /* Светлый фон для попапов */
    --popover-foreground: 24 30% 20%; /* Тёмный текст для попапов */
    --primary: 24 45% 60%; /* Мягкий оранжевый */
    --primary-foreground: 24 85% 97%; /* Очень светлый текст */
    --secondary: 24 40% 85%; /* Пастельный мягкий персиковый */
    --secondary-foreground: 24 30% 20%; /* Тёмный текст */
    --muted: 24 40% 85%; /* Мягкий персиковый muted */
    --muted-foreground: 24 30% 40%; /* Текст для muted */
    --accent: 24 45% 60%; /* Мягкий акцентный оранжевый */
    --accent-foreground: 24 85% 97%; /* Светлый текст на акцентах */
    --destructive: 0 50% 50%; /* Насыщенный, но мягкий коралловый */
    --destructive-foreground: 24 85% 97%; /* Светлый текст */
    --border: 24 20% 85%; /* Светлый бордер */
    --input: 24 20% 95%; /* Фон для инпутов */
    --ring: 24 45% 60%; /* Мягкий оранжевый акцент */
    --radius: 0.5rem; /* Радиус скругления */
    --chart-1: 24 45% 60%; /* График 1 */
    --chart-2: 24 40% 50%; /* График 2 */
    --chart-3: 24 35% 40%; /* График 3 */
    --chart-4: 24 30% 35%; /* График 4 */
    --chart-5: 24 25% 30%; /* График 5 */
  }

  .dark {
    --background: 24 15% 10%; /* Тёмный фон */
    --foreground: 24 70% 90%; /* Светлый текст */
    --card: 24 15% 15%; /* Тёмный фон карточек */
    --card-foreground: 24 70% 90%; /* Светлый текст карточек */
    --popover: 24 15% 15%; /* Тёмный фон для попапов */
    --popover-foreground: 24 70% 90%; /* Светлый текст попапов */
    --primary: 24 45% 60%; /* Мягкий оранжевый */
    --primary-foreground: 24 15% 10%; /* Тёмный текст */
    --secondary: 24 30% 25%; /* Тёмно-персиковый */
    --secondary-foreground: 24 70% 90%; /* Светлый текст */
    --muted: 24 30% 25%; /* Тёмный muted */
    --muted-foreground: 24 45% 50%; /* Светло-коричневый текст */
    --accent: 24 45% 60%; /* Мягкий акцентный оранжевый */
    --accent-foreground: 24 15% 10%; /* Тёмный текст */
    --destructive: 0 50% 40%; /* Кораллово-красный */
    --destructive-foreground: 24 70% 90%; /* Светлый текст */
    --border: 24 10% 25%; /* Тёмный бордер */
    --input: 24 10% 25%; /* Тёмный инпут */
    --ring: 24 45% 60%; /* Мягкий акцент кольца */
    --radius: 0.5rem; /* Радиус скругления */
    --chart-1: 24 45% 60%; /* График 1 */
    --chart-2: 24 40% 50%; /* График 2 */
    --chart-3: 24 35% 40%; /* График 3 */
    --chart-4: 24 30% 35%; /* График 4 */
    --chart-5: 24 25% 30%; /* График 5 */
  }
}

* {
  font-family: var(--font-roboto), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: hsl(24, 70%, 97%);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(24, 40%, 85%);
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(24, 40%, 75%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}
